<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Referral System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container my-5">
    <h1>Профиль</h1>
    <p>Номер телефона: {{ user_data.phone_number }}</p>
    <p>Личный код приглашения: {{ user_data.invite_code }}</p>
    {% if user_data.invited_by %}
    <p>Код приглашения другого пользователя: {{ user_data.invited_by.phone_number }}</p>
    {% endif %}
    <h2>Invited Users</h2>
    <ul>
        {% for invited_user in user_data.invited_users.all %}
        <li>{{ invited_user.phone_number }}</li>
        {% empty %}
        <li>No invited users yet.</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="invite_code">Введите код приглашения</label>
            <input type="text" class="form-control" id="invited_by" name="invited_by" minlength="6" maxlength="6" required>
        </div>
        <button type="submit">Activate Invite Code</button>
    </form>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>User Profile</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>User Profile</h1>-->
<!--    <p>Phone Number: {{ user_data.phone_number }}</p>-->
<!--    <p>Invite Code: {{ user_data.invite_code }}</p>-->
<!--    <p>Activated Invite Code: {{ user_data.activated_invite_code }}</p>-->
<!--</body>-->
<!--</html>-->
